:root {
  --swiper-pagination-color: #013d29;
  --swiper-pagination-bottom: 0px;
  --swiper-pagination-top: 100%;
  // --swiper-pagination-bullet-horizontal-gap: 40px;
  // --swiper-pagination-bullet-vertical-gap: 60px;
}
.swiper-pagination {
  top: 99% !important;
}
.swiper-wrapper {
  margin-bottom: 40px !important;
}
.head3 {
  font-weight: 700;
  color: #333;
}
// quantity style
.quantity {
  display: flex;
  padding: 0;
  align-items: center;

  .quantity__minus,
  .quantity__plus {
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 23px;
    margin: 0;
    background: #dee0ee;
    text-decoration: none;
    text-align: center;
    line-height: 23px;
    cursor: pointer;
  }

  .quantity__minus {
    border-radius: 3px 0 0 3px;

    &:hover {
      background-color: #013d29;
      color: #fff;
    }
  }

  .quantity__plus {
    border-radius: 0 3px 3px 0;

    &:hover {
      background-color: #013d29;
      color: #fff;
    }
  }

  .quantity__input {
    width: 32px;
    height: 19px;
    margin: 0;
    padding: 0;
    text-align: center;
    border-top: 2px solid #dee0ee;
    border-bottom: 2px solid #dee0ee;
    border-left: 1px solid #dee0ee;
    border-right: 2px solid #dee0ee;
    background: #fff;
    color: #013d29;
  }

  .quantity__minus:link,
  .quantity__plus:link {
    color: #8184a1;
  }

  .quantity__minus:visited,
  .quantity__plus:visited {
    color: #fff;
  }
}
